.header {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    color:	#FFFFFF;
    font-weight: bold;
    font-size: 20px;
    background: #ca008c;
    background: -webkit-linear-gradient(right, #ca008c, #ca008c);
    background: -moz-linear-gradient(right, #ca008c, #ca008c);
    background: -o-linear-gradient(right, #ca008c, #ca008c);
    background: linear-gradient(to left, #ca008c, #ca008c);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.info {
    padding: 10px;
    margin-top: 5px;
    background-color: #ca008c;
    border-radius: 5px;
    -moz-border-radius: 5px;
    color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.panel-default {
    border-color: #ca008c;
}

.btn-systemA {
    color: #ffffff;
    background-color: #CA008C;
    border-color: #CA008C;
    border-radius: 5px;
    height: 35px;
}

.btn-systemA:hover,
.btn-systemA:focus,
.btn-systemA:active,
.btn-systemA.active,
.open .dropdown-toggle.btn-systemA {
    color: #ffffff;
    background-color: #CA00B2;
    border-color: #CA008C;
}

.btn-systemA:active,
.btn-systemA.active,
.open .dropdown-toggle.btn-systemA {
    background-image: none;
}

.btn-systemA.disabled,
.btn-systemA[disabled],
fieldset[disabled] .btn-systemA,
.btn-systemA.disabled:hover,
.btn-systemA[disabled]:hover,
fieldset[disabled] .btn-systemA:hover,
.btn-systemA.disabled:focus,
.btn-systemA[disabled]:focus,
fieldset[disabled] .btn-systemA:focus,
.btn-systemA.disabled:active,
.btn-systemA[disabled]:active,
fieldset[disabled] .btn-systemA:active,
.btn-systemA.disabled.active,
.btn-systemA[disabled].active,
fieldset[disabled] .btn-systemA.active {
    background-color: #CA008C;
    border-color: #CA008C;
}

.btn-systemA .badge {
    color: #CA008C;
    background-color: #ffffff;
}


.navbar-default {
    background-color: #CA008C;
    border-color: #CA008C;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #e7e7e7;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #e7e7e7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #e7e7e7;
    background-color: #CA008C;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #e7e7e7;
    background-color: #CA008C;
}
.navbar-default .navbar-toggle {
    border-color: #CA008C;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #CA008C;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #e7e7e7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #e7e7e7;
        background-color: #CA008C;
    }
}